
div.wrapper h1{
  text-align: center;
  margin: 50px 0 30px 0;
  font-size: rem(45);
}


form.ajout-article{

  input[type=text]{
    border-radius: 0;
  }

  h3{
    margin:0;
  }
  p{
    margin:0 0 10px 0;
    font-style:italic;
    font-size: rem(18);
    color:$color-text-light;
  }

  li{
    padding: 10px 0 0 0;
  }

  label{
    font-size: rem(20);
    margin:10px;
  }

}

@media screen and (min-width: $vw-medium) {
  div.wrapper h1{
    font-size: rem(70);
  }
  form.ajout-article{
    ol{
      display: block;
    }
    li{
      justify-content: flex-start;
      align-items: flex-start;
    }

    input{
      border-radius:40px;
    }
    div.bouton2{
      input[type=submit]{
        margin: 40px 0 50px 0;
      }
    }

    label{
      font-size: rem(25);
      margin:0;
      h3{
        margin: 0 0 10px 0;
      }
    }
    textarea{
      width: 100%;
      height: 220px;
      font-size: rem(16);
    }
    p{
      font-size: rem(18);
    }
  }

}

@media screen and (min-width: $vw-huge) {
  div.wrapper h1{
    margin: 120px 0 30px 0;
    font-size: rem(100);
  }
}