
//https://www.littlesnippets.net/snip1582
.bouton {

  background-color: $color-button;
  width: 125px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  color: #ffffff;
  cursor: pointer;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  text-transform: uppercase;
  font-size:rem(16);
}
.bouton:before,
.bouton:after{
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.bouton:before {
  border-color:$color-button;
  border-top-width: 3px;
  left: 0;
  top: -6px;
}
.bouton:after {
  border-bottom-width: 3px;
  border-color:$color-button;
  bottom: -6px;
  right: 0;
}

.bouton:hover:before,
.bouton.hover:before,
.bouton:hover:after,
.bouton.hover:after {
  height: 100%;
  width: 100%;
}


@media screen and (min-width: $vw-medium) {

  .bouton{
    width: 180px;
    height: 45px;
    font-size: rem(20);
  }

  .bouton:before,
  .bouton:after{
    width: 30px;
  }

  .bouton:before {
    border-top-width: 4px;
    top: -7px;

  }

  .bouton:after {
    border-bottom-width: 4px;
    bottom: -7px;
  }

}
