
div.bouton2 {
  display: flex;
  justify-content: center;

  span {
    input[type=submit] {
      width: 120px;
      height: 40px;
      border-radius: 10px;
      border: none;
      background-color: $color-lighter-dark-blue;
      color: $color-text;
      font-size: rem(16);
      text-transform: uppercase;
      margin: 10px 0 20px 0;
    }
  }
}

@media screen and (min-width: $vw-huge) {

  div.bouton2 {
    justify-content: flex-end;
    span {
      input[type=submit] {
        width: 150px;
        height: 50px;
        justify-content: flex-end;
        transition: transform 0.2s;
        outline: 0;
      }

      input[type=submit]:hover {
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s;
        transform: translateY(-5px);
        box-shadow: 0 0 20px 0 rgb(0, 0, 0);
      }
    }
  }
}