footer{
  display: flex;
  justify-content: space-around;
  background: rgb(30, 32, 38);
  flex-direction: row;


  i{
    padding: 5px 0 0 0;
    color: $color-text;
  }
  i:hover{
    cursor: pointer;
  }
  p{
    margin-top: 20px;
  }
}

@media screen and (min-width: $vw-huge) {
  footer{
    p{
      font-size: rem(17);
      margin-top: 25px;
    }
  }
}

