div.inscription {
  div.wrapper h1 {
    text-align: center;
    font-size: rem(50);
    margin-bottom: 0;

  }

  h2 {
    text-align: center;
    margin: 0 0 40px 0;
    color: $color-text-light;
    font-size: rem(16);
    font-style: italic;
  }

  ol {
    li {
      padding: 10px;
    }
  }

}

@media screen and (min-width: $vw-medium) {
  div.inscription {
    ol {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}


@media screen and (min-width: $vw-huge) {
  div.inscription {
    div.wrapper h1 {
      margin-top: 120px;
      margin-bottom: 0;
      font-size: rem(100);
    }

    h2 {
      font-size: rem(50);
    }

    ol {

      li {
        label {
          font-size: rem(20);
          padding-bottom: 10px;
        }

        input {
          width: 300px;
          height: 30px;
        }
      }
    }
  }
  div.bouton2 {
    margin: 60px 0 100px 0;
  }
}
