//----------------------------------------------------------------------------------------------------------------------
//
//
//    Logo
//
//
//----------------------------------------------------------------------------------------------------------------------

nav img {
  width: 48px;
  height: 31px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  color: $white;
}

.logo-bouton {
  display: flex;
  flex-direction: column;
  width: 83px;
  margin-right: 0;

  align-items: center;
}

nav a {
  margin: 6px;
}

//----------------------------------------------------------------------------------------------------------------------
//
//
//    Hamburger
//
//
//----------------------------------------------------------------------------------------------------------------------

i {
  color: white;
  font-size: 2rem;
  margin: 5px;
}

.material-icons.md-45 {
  font-size: rem(45);
}

//----------------------------------------------------------------------------------------------------------------------
//
//
//    Nav
//
//
//----------------------------------------------------------------------------------------------------------------------

nav {
  background-color: $color-lighter-dark-blue;


  .toggle-menu {
    display: none;
  }

  .toggle-menu:checked + ul {
    display: block;
  }

  div.nav {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}

ul {
  display: none;
  padding: 0;
  list-style: none;

  li {
    background-color: $color-lighter-dark-blue;
    position: relative;
    font-size: rem(19);

    a {
      display: inline-block;
      padding: 10px 5px;


    }

    ul {

      display: none;
      position: static;

      li.sous-menu a {
        font-size: rem(17);
        color: $color-text-light;
        padding-left: 50px;
      }

      a {
        display: inline-block;
        min-width: 150px;
      }
    }
  }

  li:hover {
    background-color: $color-lighter-dark-blue;
    cursor: pointer;

    ul {
      display: block;
    }
  }
}


@media screen and (min-width: $vw-huge) {
  nav {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    box-shadow: 0 13px 30px 0 rgba(0, 0, 0, 0.75);

    .toggle-menu:checked + ul {
      display: flex;
    }

    div.wrapper {
      max-width: 1100px;
    }

    div.nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    a.logo-bouton {
      width: 140px;
      margin: 0;

      h4 {
        font-size: rem(15);
      }

      img {
        height: 40px;
      }
    }

    a.logo-bouton:hover {
      width: 140px;

      h4 {
        color: $color-text;
        box-shadow: 0 0 43px 0 rgba(253, 245, 222, 1);
      }

      img {
        height: 40px;
      }
    }

    label {
      display: none;
    }

    ul {
      display: flex;

      a {
        font-size: rem(18);
      }

      li:hover {
        ul {
          position: absolute;
          display: block;

        }
        li.sous-menu a{
          padding-left: 30px;
          font-size: rem(17);
        }
        li.sous-menu a:hover{
          background-color: $color-dark-blue;
          border-radius: 10px;
        }

      }
    }
  }


}