div.modale {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
}

section.form-connexion {
  width: 280px;
  height: 400px;
  background-color: $color-lighter-dark-blue;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ol {
  list-style: none;
  padding: 0;

  li {
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    input {
      border-radius: 10px;
      outline-color: $color-outline;
    }
  }
}
@media screen and (min-width: $vw-medium) {
  section.form-connexion {
    width: 500px;
    height: 400px;
  }
}
@media screen and (min-width: $vw-huge) {
  section.form-connexion {
    width: 700px;
    height: 400px;
  }
}