
div.article-critic div.critic{
  h3{
    font-size: rem(30);
  }
  p{
    padding: 0 13px 0 13px;
  }
}
div.section-auteur{

  background-color: $color-lighter-dark-blue;
  height: 450px;

  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p{
    margin: 31px 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem(20);
  }

  h2{
    margin:10px;
    font-size:rem(40);
  }
  hr{
    width: 80%;
    height: 2px;
    background-color:$color-text;
    margin:0;
  }
  img{
    height: 125px;
    width: auto;
  }
}
@media screen and (min-width: $vw-medium) {
  div.wrapper{
    max-width: 750px;
  }
  div.hero-article h1{
    font-size: rem(90);
  }

  div.article-critic{
    display: grid;
    grid-template-columns: 60% auto;
    margin: 60px 0 80px 0;
  }
}

@media screen and (min-width: $vw-huge) {

  div.wrapper{
    max-width: 1100px;
  }

  div.hero-article h1{
    font-size: rem(130);
  }
  div.article-critic {


    div.critic p{
      font-size:rem(16);
      padding: 0;
      margin-right: 100px;
    }



  }
  //--------------------------------------------------------------------------------------------------------------------
  //
  //
  //    AUTEUR
  //
  //
  //--------------------------------------------------------------------------------------------------------------------
  div.section-auteur{

    p{
      margin:31px 0 0 0;
      text-transform: uppercase;
      font-weight: bold;
      font-size: rem(20);
    }

  }
}