//----------------------------------------------------------------------------------------------------------------------
//
//
//    Hero
//
//
//----------------------------------------------------------------------------------------------------------------------

.hero{
  height: 300px;
  background: linear-gradient(to bottom, rgba(117, 19, 93, 0), rgba(10, 10, 16, 1)), center/cover no-repeat url("../../images/Hero.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  img{
    width:241px;
    height: 160px;
  }

  h3{
    margin:0;
    text-transform: uppercase;
    color:$color-text;
  }

  p{
    margin: 0;
    font-style: italic;
    font-weight: 300;
    color: $color-sous-titre;
  }
}

.hero-article{
  height: 300px;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(10, 10, 16, 1)),
  center/cover no-repeat url("../../images/Hero_Article.jpg");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media screen and (min-width: $vw-huge) {

  div.hero{
    height: 500px;

    margin-top: 85px;

    img.hero-img{
      width:auto;
      height: 60%;
    }

    h3.hero-h3{
      font-size: rem(60);
    }
    p{
      font-size: rem(30);
    }
  }
  div.hero-article{
    height: 500px;

  }

}



