div.profil {

  background-color: $color-lighter-dark-blue;
  height: 350px;
  box-shadow: 0 0 40px 0 rgb(0, 0, 0);

  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    margin: 10px 0 0 0;
    font-size: rem(30);
  }

  img {
    width: auto;
    height: 110px;
  }

  p {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $vw-medium) {
  div.profil{
    img{
      height: 140px;
      width: auto;
    }
  }
  div.text-profil{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: $vw-huge) {

  div.portion-profil {

    display: flex;
    justify-content: center;

    div.profil {

      flex-direction: row;
      justify-content: space-around;
      width: 1000px;
      height: 400px;

      div.text-profil{

        align-items: flex-start;
        flex-direction: column;
      }
      h2 {
        font-size: rem(50);
      }

      img {
        height: 250px;
      }

      p {
        font-size: rem(20);
      }
    }
  }


}

