div.wrapper h1 {
  text-align: center;
  font-size: rem(80);
}

section.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  div.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h5 {
    text-transform: uppercase;
    margin: 0;
  }


  p {
    font-weight: 300;
    font-style: italic;
    margin: 0 0 10px 0;
  }

  article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 228px;
    height: 450px;

    background: rgb(30, 32, 38);
    border-radius: 6px;

    margin: 0 0 30px 0;

    img {
      border-radius: 6px;
      width: 191px;
      height: 211px;
      box-shadow: -2px 7px 24px -13px rgba(0, 0, 0, 1);
    }

    p {
      font-style: normal;
      padding: 20px 20px 0 20px;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------
//
//
//    TABLETTE
//
//
//----------------------------------------------------------------------------------------------------------------------
@media screen and (min-width: $vw-medium) {

  div.hero{
    img{
      height: 200px;
      width:auto;
    }
    h3{
      font-size:rem(50);
    }
  }

  div.wrapper h1 {
    font-size: rem(90);
  }
  section.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    article{
      width: 305px;
      height: 450px;
    }
    figure picture img {
      border-radius: 6px;
      width: 222px;
      height: 244px;
    }

  }

  }

@media screen and (min-width: $vw-huge) {
  .wrapper {
    max-width: 1100px;
  }
  div.wrapper h1 {
    font-size: rem(120);
  }


  section.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;



    h5 {
      font-size: rem(70);
    }

    p {
      font-size: rem(22);
      font-weight: normal;
    }

    div.article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      transition: transform 0.2s;
      article{
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0);
        transition: box-shadow 0.5s;
      }
    }
    div.article:hover{
      transform: translateY(-10px);
      transition: transform 0.2s;
      //CECI EST MON PROPRE CODE
      article{
        transition: box-shadow 0.5s;
        box-shadow: 0 0 40px 0 rgb(0, 0, 0);
      }
    }


    article {
      width: 305px;
      height: 500px;
      figure {
        margin-bottom: 0;
      }

      p {
        font-style: normal;
        font-size: rem(16);
        padding: 30px 30px 0 30px;
        margin-bottom: 30px;
      }
    }
  }
}






