// STYLE DE BASE DE TOUS LES LIENS ET BOUTON DU SITE

a{
  &:link{
    color: $color-link;
    text-decoration: none;
  }

  &:visited{
    color: $color-link-visited;
    text-decoration: none;
  }

  &:hover{
    color: $color-link-hover;
    text-decoration: none;
  }

  &:active{
    color: $color-link-active;
    text-decoration: none;
  }

  &:focus{
    color: $color-link-focus;
    text-decoration: none;
  }
}